html {
  min-height: 100%;
  position: relative;
}

.fixednavbar {
  top: 0;
  z-index: 30;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.backgrnd {
  background-image: url("./Images/background.png");
  background-size: cover;
}
.navbar-complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(236, 236, 236); */
  height: 100px;
}
.brand-title {
  font-size: 3.5rem;
  margin: 2rem;
  padding-left: 60px;
  display: flex;
}
.navbar-links {
  margin-right: 50px;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding-right: 100px;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar-links li button:hover {
  color: rgb(238, 207, 108);
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
  background: black;
  color: white;
  overflow-x: hidden;
}

table {
  color: white;
  text-align: center;
}
table,
th,
td {
  border: 1px solid rgb(230, 230, 230);
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
}

.print {
  display: flex;
  justify-content: center;
}

.reject_mark {
  color: red;
  text-decoration: line-through;
}

.accept_mark {
  color: rgb(79, 238, 79);
}

.btnwhite {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 10%;
}

.btnwhite:hover {
  background-color: white;
  color: black;
}
